# Copyright to Avram Traian. 2022 - 2022.
# File created on June 13 2022.

# Blueberry Engine Binaries & Intermediate
Binaries/
Intermediate/

# Allow Third Party Binaries
!JamEd/ThirdParty/premake/Binaries

# Visual Studio Project Files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user